{% extends 'dashboard/base.html' %}
{% load static %}


{% block content %}

<div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto pt:mt-0 dark:bg-gray-900">
    <a href="" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
        <img src="{% static '/images/logo.svg' %}" class="mr-4 h-11" alt="FlowBite Logo">
        <span>Flowbite</span>
    </a>
    <!-- Card -->
    <div class="w-full max-w-xl p-6 space-y-8 bg-white rounded-lg shadow sm:p-8 dark:bg-gray-800">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
            Reset your password
        </h2>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">
            Your password has been successfully changed.</p>
    </div>
</div>

{% endblock %}
